@media print {
    @page {
        size: auto;
        margin: 0;
    }
}

@font-face {
    font-family: "barCodeEAN13";
    src: url("../../../utils/fonts/ean13.ttf") format("truetype");
}

#label2 {
    width: 200px;
    height: 360px;
}

#label2 ul {
    list-style: none;
}

#label2 li {
    font-size: 0.8em;
}

#labelLogo2 {
    width: 6em
}

@font-face {
    font-family: "barCode39";
    src: url("../../../utils/fonts/code39.ttf") format("truetype");
}

#barcode2 {
    font-family: 'barCode39';
    transform: scale(1.5, 1.7);
    font-weight: 200;
}

#price2 {
    font-weight: bold;
}

#date2 {
    font-size: 0.8em;
}

#ref2 {
    font-size: 0.7em;
}

#ean13Container {
    height: 56px;
}

#imgBarCode2 {
    width: 7em;
}

.border-bottom-dashed {
    border-bottom: 1px dashed black;
}