// * Css par défault:
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// * Classes persos:
.d-flex {
  display: flex;
}

.flex-column {
  @extend .d-flex;
  flex-direction: column;
}

.justify-center {
  @extend .d-flex;
  justify-content: center;
}

.justify-around {
  @extend .d-flex;
  justify-content: space-around;
}

.justify-between {
  @extend .d-flex;
  justify-content: space-between;
}

.justify-end {
  @extend .d-flex;
  justify-content: end;
}

.align-center {
  @extend .d-flex;
  align-items: center;
}

.justify-align-center {
  @extend .justify-center;
  @extend .align-center;
}

.pointer {
  cursor: pointer
}

.scroll {
  overflow-y: scroll;
}

@for $i from 1 through 100 {
  .w-#{$i} {
    width: percentage($i / 100);
  }
  .h-#{$i} {
    height: percentage($i / 100);
  }
}

$sides: (top, right, bottom, left);

@each $side in $sides {
  .border-#{$side} {
    border-#{$side}: 1px solid black !important;
  }
}

.unselectable {
  -moz-user-select: none;
  /* Firefox */
  -webkit-user-select: none;
  /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none;
  /* Internet explorer depuis la version 10 et Edge */
  user-select: none;
  /* Propriété standard */
}